.main {
    --luxe-gutter-x: 0 !important;
    --luxe-gutter-y: 0 !important;
    composes: rowCols_lg_3 from '~/commons/grid/Row.module.css';
    composes: rowCols_md_2 from '~/commons/grid/Row.module.css';
    composes: rowCols_sm_1 from '~/commons/grid/Row.module.css';

    > div {
        --luxe-gutter-x: 0;
        --luxe-gutter-y: 0;
    }
}
