.card {
	composes: card from "~/templates/css/global.module.css";
	display: flex;

	.image {
		width: 200px;
		aspect-ratio: 1;
		height: auto;
		margin-right: 1.5rem;
	}
}

.containerText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 auto;

	p {
		margin: 0;
	}
}

.title {
	composes: capitalize from "~/templates/css/global.module.css";
	margin-top: 0;
	margin-bottom: 0;
}
