@value variables: "~/templates/css/variables.css";

@value gridBreakpoints_lg,gridBreakpoints_xxl, space_0, space_2, space_4, space_5, space_6, fs_6, fs_small from variables;

.main {
	--luxe-modal-bg: var(--luxe-body-bg);
	--luxe-modal-border-color: var(--luxe-border-color-translucent);
	--luxe-modal-border-width: var(--luxe-border-width);
	--luxe-modal-border-radius: var(--luxe-border-radius-lg);
	max-height: 90vh;
	overflow: hidden;

	position: relative;
	display: flex;
	flex-direction: column;
	gap: space_5;
	width: 100%;
	/*color: var(--luxe-modal-color);*/
	pointer-events: auto;
	background-color: var(--luxe-modal-bg);
	background-clip: padding-box;
	border: var(--luxe-modal-border-width) solid var(--luxe-modal-border-color);
	border-radius: var(--luxe-modal-border-radius);
	outline: 0;
	padding: space_5 space_4;

	@media (min-width: gridBreakpoints_lg) {
		padding: space_5;
	}
	@media (min-width: gridBreakpoints_xxl) {
		gap: space_6;
		max-height: 80vh;
		padding: space_6 space_5;
	}

	header {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		/*padding-bottom: space_5;*/
		border-bottom: var(--luxe-modal-header-border-width) solid var(--luxe-modal-header-border-color);
		border-top-left-radius: var(--luxe-modal-inner-border-radius);
		border-top-right-radius: var(--luxe-modal-inner-border-radius);
	}
}

.title {
	composes: capitalize from "~/templates/css/global.module.css";
	composes: display_5 from "~/templates/css/global.module.css";
	text-align: center;
	margin: space_0;
	width: 100%;
}

.body {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	flex: 1 1 auto;
	overflow: auto;
	/*padding-top: space_4;*/
	gap: space_6;

	@media (min-width: gridBreakpoints_lg) {
		flex-direction: row;
		/*padding-top: space_5;*/
	}
	/*@media (min-width: gridBreakpoints_xl) {*/
	/*	& {*/
	/*		padding-top: space_6;*/
	/*	}*/
	/*}*/
}

.loginCardSection {
	display: flex;
	flex-direction: column;
	flex: 1;
	> h3 {
		margin: space_0;
	}
	> p {
		--luxe-text-opacity: 1;
		color: var(--luxe-secondary-color);
		font-size: fs_small;
	}
	> div {
		display: flex;
		flex-direction: column;
		gap: space_2;
	}
}
.loginFormSection {
	flex: 1;
	> h3 {
		margin: space_0;
	}
	> p {
		--luxe-text-opacity: 1;
		color: var(--luxe-secondary-color);
		font-size: fs_small;
	}
}

.fs6 {
	font-size: fs_6;
}

.label {
	composes: fs6;
	margin-bottom: space_2;
}

.btn {
	composes: primary from "~/templates/css/button.module.css";
	composes: capitalize from "~/templates/css/global.module.css";
}

.checkBox {
	display: flex;
	align-items: center;
	min-height: 1.5rem;
	padding-left: 1.5em;
	margin-bottom: 0.125rem;
}

.formCheckInput {
	composes: checkInput from "~/templates/css/form.module.css";
	border-radius: 0.25em;
	float: left;
	margin-left: -1.5em;
	margin-right: space_2;
	margin-top: space_0 !important;
}

.formCheckLabel {
	composes: capitalize from "~/templates/css/global.module.css";
	composes: fs6;
}
