@value variables: "~/templates/css/variables.css";

@value gridBreakpoints_sm, gridBreakpoints_lg, gridBreakpoints_xl, space_0, space_2, space_3, fs_6 from variables;

.dialog {
    --luxe-modal-zindex: 1055;
    --luxe-modal-width: 500px;
    --luxe-modal-padding: space_3;
    --luxe-modal-margin: space_2;
    --luxe-modal-color: ;
    --luxe-modal-bg: var(--luxe-body-bg);
    --luxe-modal-border-color: var(--luxe-border-color-translucent);
    --luxe-modal-border-width: var(--luxe-border-width);
    --luxe-modal-border-radius: var(--luxe-border-radius-lg);
    --luxe-modal-box-shadow: var(--luxe-box-shadow-sm);
    --luxe-modal-inner-border-radius: calc(var(--luxe-border-radius-lg) - (var(--luxe-border-width)));
    --luxe-modal-header-padding-x: space_3;
    --luxe-modal-header-padding-y: space_3;
    --luxe-modal-header-padding: space_3 space_3;
    --luxe-modal-header-border-color: var(--luxe-border-color);
    --luxe-modal-header-border-width: 0;
    --luxe-modal-title-line-height: 1.5;
    --luxe-modal-footer-gap: space_2;
    --luxe-modal-footer-bg: ;
    --luxe-modal-footer-border-color: var(--luxe-border-color);
    --luxe-modal-footer-border-width: 0;

    border: 0;
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    color: var(--luxe-body-color);

    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--luxe-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    outline: 0;

    &[open] {
        display: block;
    }

    &::backdrop {
        background-color: var(--luxe-color-darkBlue);
        opacity: .4;
    }

    @media (min-width: gridBreakpoints_sm) {
        & {
            --luxe-modal-margin: 1.75rem;
            --luxe-modal-box-shadow: var(--luxe-box-shadow);
        }
    }
    @media (min-width: gridBreakpoints_lg) {
        & {
            --luxe-modal-width: 800px;
        }
    }
    @media (min-width: gridBreakpoints_xl) {
        & {
            --luxe-modal-width: 80vw;
        }
    }

}

.content {
    position: relative;
    width: auto;
    margin: var(--luxe-modal-margin);
    pointer-events: none;

    @media (min-width: gridBreakpoints_sm) {
        & {
            max-width: var(--luxe-modal-width);
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.capitalize {
    composes: capitalize from '~/templates/css/global.module.css';
}

.fs6{
    font-size: fs_6;
}

.btn {
    composes: link from '~/templates/css/button.module.css';
    composes: capitalize from '~/templates/css/global.module.css';
    padding: space_0;
    border: 0;
    display: block;
}

.list {
    composes: listUnstyled from '~/templates/css/global.module.css';
}
