@value variables: "~/templates/css/variables.css";

@value gridBreakpoints_lg, fs_6, space_2,space_3, space_4, space_5 from variables;

.form {
	composes: root from "~/templates/css/form.module.css";
	textarea {
		resize: vertical;
	}
}

.label {
	composes: capitalize from "~/templates/css/global.module.css";
	font-size: fs_6;
	margin-bottom: space_2;
}

.btn {
	composes: primary from "~/templates/css/button.module.css";
	composes: capitalize from "~/templates/css/global.module.css";
}
