$description-offset: 50px;

.lux-contentHeader_title {
  height: 350px;
  text-wrap: balance;
}

.lux-contentHeader_image {
  width: 500px;
  height: 500px;
}

.lux-contentHeader_description {
  padding: 80px;
  font-size: 1.5rem;
  z-index: -1;
  width: calc(100% + $description-offset);
  margin-left: calc($description-offset * -1);
  border-radius: 16px;
}

@include media-breakpoint-down(lg) {
  .lux-contentHeader_title {
    height: auto;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    margin-left: 0 !important;
  }

  .lux-contentHeader_image {
    width: 100%;
    height: 250px;
  }

  .lux-contentHeader_description {
    width: 100%;
    margin-left: 0;
    padding: 40px;
    font-size: inherit;
  }
}
