.table{
    font-size: 18px;
}

.tableRow{
    display: flex;
    border-bottom: 1px solid var(--luxe-color-primary);
    padding: 4px 0;
}

.tableKey{
    composes: capitalize from '~/templates/css/styles.css';
    margin-bottom: 0;
    font-weight: 200;
    flex: 1;
}

.tableValue{
    composes: capitalize from '~/templates/css/styles.css';
    text-transform: capitalize;
    font-weight: bold;
    flex: 1;
    :global(.icon) & {
        text-transform: none;
        align-items: center;
        display: flex;
    }
}
