// TODO: Make it generic faor all cards
.lux-blogEntryCard {
    display: block;
    border-radius: 16px;
    text-decoration: none;
    color: inherit;
    padding: 20px;
    transform: scale(1);
    transition: all .2s ease-in;

    &:hover {
        transform: scale(1.05);
        box-shadow: $shadow-box;
    }

    & > * {
        margin-bottom: 0;
    }
}

.lux-blogEntryCard_image {
    width: 380px;
    height: 260px;
    aspect-ratio: 380/260;
}


.lux-blogEntryCard_title {
    font-family: $font-family-base;
    line-height: 2.2rem;
    text-wrap: balance;
}
