.lux-table,
.lux-house_informations {
  font-size: 18px;
}

.lux-table_row,
.lux-house_information_row {
  border-bottom: 1px solid $color-gold;
  padding: 4px 0;
}

.lux-table_key,
.lux-house_information_key {
  @extend %capitalize;

  margin-bottom: 0;
  font-weight: 200;
  flex: 1;
}

.lux-table_value,
.lux-house_information_value {
  @extend %capitalize;

  font-weight: bold;
  flex: 1;
}
