@value variables: "~/templates/css/variables.css";

@value space_2 from variables;

.card {
	composes: card from "~/templates/css/global.module.css";
	display: block;
	height: 100%;

	h4 {
		margin-top: space_2;
		margin-bottom: space_2;
	}

	p {
		font-size: 16px;
		color: rgba(var(--luxe-color-dark-rgb), 0.4);

		span {
			font-size: 11px;
		}
	}

	strong {
		font-size: 18px;
		color: var(--luxe-primary);
	}
}
