@value variables: "~/templates/css/variables.css";

@value space_5, space_0 from variables;

.header {
	display: flex;
	margin-bottom: space_5;
}

:where(.gallery) [data-part="mainImage"] {
	height: 695px;
}

.title {
	padding-bottom: space_0;
}

.rowDescription {
	composes: rowCols_1 from "design-system/Grid/styles.module.css";
	composes: rowCols_lg_2 from "design-system/Grid/styles.module.css";
}

section .rowDescription {
	--luxe-gutter-x: space_5;
	--luxe-gutter-y: space_5;
}

.price {
	composes: display_5 from "~/templates/css/global.module.css";
	color: var(--luxe-color-primary);
	font-weight: 500;
}
