.row {
    --luxe-gutter-x: 1.5rem;
    --luxe-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--luxe-gutter-y));
    margin-right: calc(-.5 * var(--luxe-gutter-x));
    margin-left: calc(-.5 * var(--luxe-gutter-x));

    > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--luxe-gutter-x) * .5);
        padding-left: calc(var(--luxe-gutter-x) * .5);
        margin-top: var(--luxe-gutter-y)
    }
}

.row-cols-auto > * {
    flex: 0 0 auto;
    width: auto
}

.row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%
}

.row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%
}

.row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%
}

.row-cols-4 > * {
    flex: 0 0 auto;
    width: 25%
}

.row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%
}

.row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%
}


@media (min-width: 768px) {
    .col-md {
        flex: 1 0 0%
    }

    .row-cols-md-auto > * {
        flex: 0 0 auto;
        width: auto
    }

    .row-cols-md-1 > * {
        flex: 0 0 auto;
        width: 100%
    }

    .row-cols-md-2 > * {
        flex: 0 0 auto;
        width: 50%
    }

    .row-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .row-cols-md-4 > * {
        flex: 0 0 auto;
        width: 25%
    }

    .row-cols-md-5 > * {
        flex: 0 0 auto;
        width: 20%
    }

    .row-cols-md-6 > * {
        flex: 0 0 auto;
        width: 16.66666667%
    }


}

    @media (min-width: 992px) {
        .col-lg {
            flex: 1 0 0%
        }

        .row-cols-lg-auto > * {
            flex: 0 0 auto;
            width: auto
        }

        .row-cols-lg-1 > * {
            flex: 0 0 auto;
            width: 100%
        }

        .row-cols-lg-2 > * {
            flex: 0 0 auto;
            width: 50%
        }

        .row-cols-lg-3 > * {
            flex: 0 0 auto;
            width: 33.33333333%
        }

        .row-cols-lg-4 > * {
            flex: 0 0 auto;
            width: 25%
        }

        .row-cols-lg-5 > * {
            flex: 0 0 auto;
            width: 20%
        }

        .row-cols-lg-6 > * {
            flex: 0 0 auto;
            width: 16.66666667%
        }
    }
