@value variables: "~/templates/css/variables.css";
@value gridBreakpoints_sm, gridBreakpoints_md, gridBreakpoints_lg, gridBreakpoints_xl, gridBreakpoints_xxl from variables;

.default {
    --luxe-gutter-x: 1.5rem;
    --luxe-gutter-y: 0;
    width:100%;
    padding-right:calc(var(--luxe-gutter-x) * .5);
    padding-left:calc(var(--luxe-gutter-x) * .5);
    margin-right:auto;
    margin-left:auto;
}

.containerFluid {
    composes: default;
}
.container {
    composes: default;
    @media (min-width: gridBreakpoints_sm){
        & {max-width:540px}
    }
    @media (min-width: gridBreakpoints_md){
        & {max-width:720px}
    }
    @media (min-width: gridBreakpoints_lg){
        & {max-width:960px}
    }
    @media (min-width: gridBreakpoints_xl){
        & {max-width:1140px}
    }
    @media (min-width: gridBreakpoints_xxl) {
        & {max-width:1320px}
    }
}
