@value variables: "~/templates/css/variables.css";

@value gridBreakpoints_lg, space_0, space_1, space_3 from variables;

.dropdown {
    position: relative;
}

.btn {
    composes: capitalize from '~/templates/css/global.module.css';
    --luxe-btn-disabled-color: inherit;
    white-space: nowrap;

    &:not(:disabled) {
        cursor: pointer;
    }
}

.menu {

    --luxe-position: end;
    --luxe-dropdown-zindex: 1000;
    --luxe-dropdown-min-width: 10rem;
    --luxe-dropdown-padding-x: 0;
    --luxe-dropdown-padding-y: 0;
    --luxe-dropdown-spacer: .125rem;
    --luxe-dropdown-font-size: 1rem;
    --luxe-dropdown-color: var(--luxe-body-color);
    --luxe-dropdown-bg: var(--luxe-body-bg);
    --luxe-dropdown-border-color: var(--luxe-border-color-translucent);
    --luxe-dropdown-border-radius: var(--luxe-border-radius);
    --luxe-dropdown-border-width: var(--luxe-border-width);
    --luxe-dropdown-inner-border-radius: calc(var(--luxe-border-radius) - var(--luxe-border-width));
    --luxe-dropdown-divider-bg: var(--luxe-border-color-translucent);
    --luxe-dropdown-divider-margin-y: .5rem;
    --luxe-dropdown-box-shadow: var(--luxe-box-shadow);
    --luxe-dropdown-link-color: var(--luxe-body-color);
    --luxe-dropdown-link-hover-color: var(--luxe-color-primary);
    --luxe-dropdown-link-hover-bg: var(--luxe-tertiary-bg);
    --luxe-dropdown-link-active-color: #fff;
    --luxe-dropdown-link-active-bg: var(--luxe-color-primary);
    --luxe-dropdown-link-disabled-color: var(--luxe-tertiary-color);
    --luxe-dropdown-item-padding-x: space_3;
    --luxe-dropdown-item-padding-y: space_1;
    --luxe-dropdown-header-color: #6c757d;
    --luxe-dropdown-header-padding-x: space_3;
    --luxe-dropdown-header-padding-y: space_0;
    position: absolute;
    z-index: var(--luxe-dropdown-zindex);
    display: none;
    min-width: var(--luxe-dropdown-min-width);
    padding: var(--luxe-dropdown-padding-y) var(--luxe-dropdown-padding-x);
    margin: space_0;
    font-size: var(--luxe-dropdown-font-size);
    color: var(--luxe-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--luxe-dropdown-bg);
    background-clip: padding-box;
    border: var(--luxe-dropdown-border-width) solid var(--luxe-dropdown-border-color);
    border-radius: var(--luxe-dropdown-border-radius);

    & > li:first-child .item {
        border-top-left-radius: var(--luxe-dropdown-inner-border-radius);
        border-top-right-radius: var(--luxe-dropdown-inner-border-radius);
    }
}

.item {
    composes: capitalize from '~/templates/css/global.module.css';

    display: block;
    width: 100%;
    padding: var(--luxe-dropdown-item-padding-y) var(--luxe-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--luxe-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--luxe-dropdown-item-border-radius, 0);

    &:hover, &:focus {
        color: var(--luxe-dropdown-link-hover-color);
        background-color: var(--luxe-dropdown-link-hover-bg);
    }

    &.active, &:active {
        text-decoration: none;
        color: var(--luxe-dropdown-link-active-color);
        background-color: var(--luxe-dropdown-link-active-bg);
    }

}
