.card {
    composes: card from '~/templates/css/styles.css';
    height: 100%;
    h4 {
        margin-top:.5rem;
        margin-bottom:.5rem
    }
    p {
        font-size: 16px;
        color: rgba(var(--luxe-color-dark-rgb), 0.4);
    }
}

.image {
    width: 200px;
    height: 200px;
    margin-right: 1.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;

    p {
        margin: 0;
    }
}

.title {
    composes: capitalize from '~/templates/css/styles.css';
    margin-top: 0;
    margin-bottom: 0;
}

.rowRealtors {
    --luxe-gutter-x: 1rem;
    --luxe-gutter-y: 1rem;
    composes: rowCols_lg_4 from '~/commons/grid/Row.module.css';
    composes: rowCols_md_3 from '~/commons/grid/Row.module.css';
    composes: rowCols_sm_2 from '~/commons/grid/Row.module.css';

    > div {
        --luxe-gutter-x: 0;
        --luxe-gutter-y: 0;
    }
}

.rowEstates {
    --luxe-gutter-x: 0;
    --luxe-gutter-y: 0;
    composes: rowCols_lg_3 from '~/commons/grid/Row.module.css';
    composes: rowCols_md_2 from '~/commons/grid/Row.module.css';
    composes: rowCols_sm_1 from '~/commons/grid/Row.module.css';

    > div {
        --luxe-gutter-x: 0;
        --luxe-gutter-y: 0;
    }
}
