@value variables: "../variables.css";
@value breakpoints_lg,breakpoints_xl,space_3,space_4,fs_3,fs_5 from variables;

/* Disable background scroll */
.noScroll {
	overflow: hidden;
}

.dialog {
	--luxe-modal-zindex: 1055;
	/*--luxe-modal-width: 500px;*/

	container-type: inline-size;

	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	border: 0;
	margin: 0;
	padding: 0;
	z-index: var(--luxe-modal-zindex);
	display: none;
	background-color: transparent;
	overflow: hidden;

	&[open] {
		display: block;
	}

	&::backdrop {
		background-color: var(--luxe-color-darkBlue);
		opacity: 1;
	}

	&.light::backdrop {
		opacity: 0.85;
	}

	.container {
		display: flex;
		flex-direction: column;
		margin: auto;
		gap: 1.5rem;
		padding: space_3;
		max-height: 100%;

		@container (min-width: breakpoints_lg) {
			max-width: 800px;
			padding: space_4 0;
			.heading{
				.title {
					font-size: fs_3;
				}
				> button {
					width: 2.25rem;
					height: 2.25rem;
					font-size: fs_5;
					font-weight: 700;
				}
			}

		}

		@container (min-width: breakpoints_xl) {
			max-width: 80vw;
		}
	}

	.heading {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: stretch;
		width: 100%;
		gap: 1.5rem;

		> button {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 1.75rem;
			height: 1.75rem;
			font-size: 1rem;

			text-transform: uppercase;
			border-radius: 50%;
			background-color: var(--luxe-color-darkBlue);

			padding: 0;
			text-align: center;
			line-height: 1;
			border: 2px solid var(--luxe-color-gray);

			color: var(--luxe-color-gray);
			opacity: 0.6;
			transition:
				color 0.2s ease-in-out,
				border-color 0.2s ease-in-out,
				opacity 0.2s ease-in-out;
			cursor: pointer;
			z-index: 1001;

			&:focus {
				outline: none;
			}

			&:focus-visible {
				outline: 2px solid var(--luxe-color-gold);
				outline-offset: 2px;
			}

			&:hover {
				opacity: 1;
				color: var(--luxe-color-gold);
				border-color: var(--luxe-color-gold);
			}

			&[disabled] {
				opacity: 0.2;
				pointer-events: none;
			}
		}
	}
}

.title {
	composes: capitalize from "../../../template-set/src/templates/css/global.module.css";
	color: var(--luxe-color-gray);
	margin: 0;
	padding: 0;
	font-size: fs_5;
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
