@value variables: "~/templates/css/variables.css";

@value space_0 from variables;

.rowEstates {
	--luxe-gutter-x: space_0;
	--luxe-gutter-y: space_0;
	composes: rowCols_3 from "design-system/Grid/styles.module.css";

	> div {
		--luxe-gutter-x: space_0;
		--luxe-gutter-y: space_0;
	}
}
