.resultsRow {
	composes: rowCols_lg_3 from "~/commons/grid/grid.module.css";
	composes: rowCols_md_2 from "~/commons/grid/grid.module.css";
	composes: rowCols_sm_1 from "~/commons/grid/grid.module.css";
}
