@value variables: "~/templates/css/variables.css";

@value gridBreakpoints_xl from variables;

:root {
    --luxe-color-darkBlue: #1b1a4e;
    --luxe-color-darkBlue-rgb: 27, 26, 78;
    --luxe-color-darkBlue60: #767695;
    --luxe-color-darkBlue60-rgb: 118, 118, 149;
    --luxe-color-darkBlue40: #a4a3b8;
    --luxe-color-gold: #c29b40;
    --luxe-color-gold-rgb: 194, 155, 64;
    --luxe-color-gray: #f6f6f6;
    --luxe-color-gray-rgb: 246, 246, 246;
    --luxe-color-dark: #393847;
    --luxe-color-dark-rgb: 57, 56, 71;
    --luxe-color-primary: var(--luxe-color-gold);
    --luxe-color-primary-rgb: var(--luxe-color-gold-rgb);
    --luxe-color-secondary: var(--luxe-color-darkBlue60);
    --luxe-color-secondary-rgb: var(--luxe-color-darkBlue60-rgb);

    --luxe-primary: var(--luxe-color-primary);
    --luxe-primary-rgb: var(--luxe-color-primary-rgb);
    --luxe-secondary: var(--luxe-color-secondary);
    --luxe-secondary-rgb: var(--luxe-color-secondary-rgb);

    --luxe-box-shadow: 4px 6px 17px 15px rgba(35, 33, 110, 0.1);

    --luxe-body-color: var(--luxe-color-dark);
    --luxe-body-font-size: 1.25rem;
    --luxe-body-line-height: 1.75;
    --luxe-secondary-color: var(--luxe-color-darkBlue60);
    --luxe-emphasis-color: var(--luxe-color-dark);
    --luxe-border-color: var(--luxe-color-darkBlue40);
    --luxe-border-radius: 8px;
    --luxe-heading-color: var(--luxe-color-darkBlue);
    --luxe-secondary-bg: var(--luxe-color-gray);
    --luxe-secondary-bg-rgb: var(--luxe-color-gray-rgb);
    --luxe-tertiary-bg: var(--luxe-color-gray);

    --luxe-font-family-display: "Playfair Display", serif;
    --luxe-font-family-base: "Inter", "Helvetica", sans-serif;

    --luxe-dark-text-emphasis: #495057;
    --luxe-dark-border-subtle: #adb5bd;
    --luxe-dark-bg-subtle: var(--luxe-color-gray);
    --luxe-warning-text-emphasis: rgb(101.2, 96, 37.6);
    --luxe-warning-border-subtle: rgb(151.8, 144, 56.4);
    --luxe-warning-bg-subtle: rgb(50.6, 48, 18.8);

    --luxe-border-width: 1px;
}

.alert {
    --luxe-alert-bg: transparent;
    --luxe-alert-padding-x: 1rem;
    --luxe-alert-padding-y: 1rem;
    --luxe-alert-margin-bottom: 1rem;
    --luxe-alert-color: inherit;
    --luxe-alert-border-color: transparent;
    --luxe-alert-border: var(--luxe-border-width) solid var(--luxe-alert-border-color);
    --luxe-alert-border-radius: var(--luxe-border-radius);
    --luxe-alert-link-color: inherit;
    position: relative;
    padding: var(--luxe-alert-padding-y) var(--luxe-alert-padding-x);
    margin-bottom: var(--luxe-alert-margin-bottom);
    color: var(--luxe-alert-color);
    background-color: var(--luxe-alert-bg);
    border: var(--luxe-alert-border);
    border-radius: var(--luxe-alert-border-radius);

    &.dark {
        --luxe-alert-color: var(--luxe-dark-text-emphasis);
        --luxe-alert-bg: var(--luxe-dark-bg-subtle);
        --luxe-alert-border-color: var(--luxe-dark-border-subtle);
        --luxe-alert-link-color: var(--luxe-dark-text-emphasis)
    }

    &.warning {
        --luxe-alert-color: var(--luxe-warning-text-emphasis);
        --luxe-alert-bg: var(--luxe-warning-bg-subtle);
        --luxe-alert-border-color: var(--luxe-warning-border-subtle);
        --luxe-alert-link-color: var(--luxe-warning-text-emphasis)
    }
}

.display_1, .display_2, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: var(--luxe-font-family-display);
}

.display_1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.2;

    @media (min-width: gridBreakpoints_xl) {
        & {
            font-size: 5rem;
        }
    }
}

.display_2 {
    font-size: calc(1.575rem + 3.9vw);
    font-weight: 300;
    line-height: 1.2;

    @media (min-width: gridBreakpoints_xl) {
        & {
            font-size: 4.5rem;
        }
    }
}

.display_5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
    @media (min-width: gridBreakpoints_xl) {
        & {
            font-size: 3rem
        }
    }
}


h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--luxe-heading-color)
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
    @media (min-width: gridBreakpoints_xl) {
        & {
            font-size: 2.5rem;
        }
    }
}

h2, .h2 {
    font-size: calc(1.325rem + .9vw);
    @media (min-width: gridBreakpoints_xl) {
        & {
            font-size: 2rem;
        }
    }
}

h3, .h3 {
    font-size: calc(1.3rem + .6vw);
    @media (min-width: gridBreakpoints_xl) {
        & {
            font-size: 1.75rem;
        }
    }
}

h4, .h4 {
    font-size: calc(1.275rem + .3vw);
    @media (min-width: gridBreakpoints_xl) {
        & {
            font-size: 1.5rem;
        }
    }
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
}

.richtext {
    max-width: 800px;
    margin-right: auto !important;
    margin-left: auto !important;
}

.bgSecondary {
    --luxe-bg-opacity: 1;
    background-color: rgba(var(--luxe-secondary-bg-rgb), var(--luxe-bg-opacity))
}

.capitalize {
    display: inline-block;

    &::first-letter {
        text-transform: uppercase;
    }
}

.card {
    border-radius: 16px;
    text-decoration: none;
    color: inherit;
    padding: 20px;
    transform: scale(1);
    transition: all 0.2s ease-in;

    &:hover {
        transform: scale(1.05);
        box-shadow: var(--luxe-box-shadow);
    }

    & > * {
        margin-bottom: 0;
    }
}

.hasDiamond {
    &:after {
        content: "✦";
        color: var(--luxe-color-primary);
        font-size: 0.4em;
        margin-left: 4px;
    }
}

