@value variables: "~/templates/css/variables.css";

@value fs_6 from variables;

.alert {
    composes: alert from '~/templates/css/global.module.css';
    composes: alertDanger from '~/templates/css/global.module.css';
    font-size: fs_6;
}

.fs6{
    font-size: fs_6;
}

.capitalize {
    composes: capitalize from '~/templates/css/global.module.css';
}
