@value variables: "~/templates/css/variables.css";

@value gridBreakpoints_lg, space_3, space_4, space_5 from variables;

.row {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

.label {
	composes: capitalize from "~/templates/css/global.module.css";
}

.btn {
	composes: primary from "~/templates/css/button.module.css";
	composes: capitalize from "~/templates/css/global.module.css";
}

section .btn {
	--luxe-btn-padding-y: 0.5rem;
	--luxe-btn-padding-x: 1rem;
	--luxe-btn-font-size: 1.25rem;
	--luxe-btn-border-radius: var(--luxe-border-radius-lg);
	width: 100%;
}

.dialog {
	--luxe-dialog-opacity: 1;
}

.title {
	text-transform: capitalize;
}

.formWrapper {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	background-color: #fff;
	border-radius: 8px;
	max-height: 100%;
	overflow: auto;
	padding: space_4 space_3;
	@container (min-width: gridBreakpoints_lg) {
		padding: space_5;
	}
}
